.container-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.text-container {
    text-align: center;
    margin-top: 20px;
}
.text-container h1 {
    color: black;
}
.text-container p {
    color: #333;
    font-size: 14px;
}
