.container {
    width: 30vw;
    height: 20vw;
    overflow: hidden;
    background-color: tomato;
}
.triangle {
    width: 100%;
    height: 20%;
    background-color: teal;
    border-bottom: 2px solid black;
    transform: rotate(31.307deg);
    
}
