* {
    margin: 0;
}
body {
    margin-top:20px;
    width: 80vw;
    margin-left:10vw;
    background-color: #99d5c96b;
}
main {
    background-color: #d5b499;
    padding: 0px 20px;
    margin: 10px 0px 0px;
}
p {
    padding: 20px 0px;
}
h1 {
    background-color: #d5999f;
    color: #1b1414;
    padding: 20px;
    text-align: center;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    margin: 20px;
    padding: 3px;
    border: 1px black solid;
    list-style-type: none;
}
button {
    margin-right: 10px;
}